<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" position="end" >
    <button  class="close" (click)="drawer.toggle()" mat-raised-button>
    <span class="material-icons">
        clear
    </span>

    </button>
      <app-sidebar></app-sidebar>

    </mat-drawer>

    <div class="example-sidenav-content">

        <header class="header-web">


<app-nav></app-nav>
               <button type="button" mat-button (click)="drawer.toggle()">
                <span class="material-icons">
                    reorder
                </span>
            </button>
         </header>
        <section class="routeroutlet">
            <router-outlet></router-outlet>
        </section>

        <footer>
          <app-footer></app-footer>
        </footer>
    </div>
</mat-drawer-container>
