
.example-container {
  width: 100%;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  direction: rtl;
}

.example-sidenav {
  padding: 20px;
  .close
  {
    position: fixed;
    top: 0;
    right: 121px;
    z-index: 2;
    background: none;
    color: black;
    box-shadow: none;
  }
}
// ___________________________________________
.routeroutlet{
height: 100vh;
margin-top:10rem;
}
.header-web
{
  background-color: #f5f5f5;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    button
    {
      position: absolute;
      top: 16px;
      right: 0;
      background-color: #f5f5f5;
      border: none;
    }
    button:focus {
    outline: none !important;
}
}
